<div id="cart-form-gift-packaging">
<% if @product.possible_gift_packages.count > 0 && @product.shipping_category.name != 'Non Shipping' %>
	<h4>Gift Packaging</h4>
	<p>The cost of Gift Packaging will be reflected in the Shopping Cart</p>
	<ul id="gift-packaging-mockup">
		<% @product.possible_gift_packages.each do |gift_package| %>
			<li onclick="javascript:$('#gift-packaging-dialog_<%= gift_package.id -%>').dialog('open');$(this).children('input:first').attr('checked',true);"><%= radio_button_tag "gift_packages[#{@product.id}]", gift_package.id, gift_package.default_for_product?(@product) -%>
			<%= image_tag gift_package.image(:midi) -%> 
			<span style="display:inline-block;width:130px;line-height:1.2em;"><%= gift_package.title -%> (+<%= number_to_currency gift_package.price -%>)</span></li>
		<% end %>
		<li onclick="javascript:$(this).children('input:first').attr('checked',true);"><%= radio_button_tag "gift_packages[#{@product.id}]", 0 -%>No Gift packaging</li>
	</ul>
<% else %>
	<%= f.hidden_field "gift_packages[#{@product.id}]", :value => nil %>
<% end %>
</div>
<div style="clear:both;"></div>


<script type="text/javascript">
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	<% Spree::GiftPackage.all.each do |gift_package| %>

		$("#gift-packaging-dialog_<%= gift_package.id -%>").dialog({
			autoOpen: false,
			height: 'auto',
			width: '80%',
			maxWidth: 500,
			modal: true,
			title: "",
			open: function(event, ui){ 
	           fluidDialog(); // needed when autoOpen is set to true in this codepen
	        },
	        fluid: true,
			zIndex: 3000
		});

	<% end %>
	

	
});

</script>

<% @product.possible_gift_packages.each do |gift_package| %>
	<div id="gift-packaging-dialog_<%= gift_package.id -%>" class="gift-packaging-dialog" title="<%= gift_package.title -%>">
		<div><%= gift_package.description %></div>
		<div class="product-image">
	  		<%= image_tag gift_package.image.url(:thumb), :itemprop => "name"  %>
		</div>
		<div class="product-price">
			<div class="price selling" itemprop="price"><%= number_to_currency gift_package.price %></div>
		</div>
		<div class="clearfix"></div>
		<div class="buttons">
			<%= link_to_function t(:continue_shopping), "$('#gift-packaging-dialog_#{gift_package.id}').dialog('close');", :class => 'button large' %>
		</div>
	</div>
<% end %>


